html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn:hover {
  background-color: #289935 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.stream-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #289935;
  outline: none;
  border: none;
  font-size: small;
  padding: 20px 15px;
  height: 50px;
  width: 100%;
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
}

.submit-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #289935;
  outline: none;
  border: none;
  font-size: larger;
  padding: 20px 15px;
  height: 50px;
  width: 45%;
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
}

.contract-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #289935;
  outline: none;
  border: none;
  font-size: small;
  padding: 20px 15px;
  height: 50px;
  width: 45%;
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
}

.creator-page-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #289935;
  outline: none;
  border: none;
  font-size: small;
  padding: 20px 15px;
  height: 50px;
  width: 180px;
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.push-btn {
  /* filter: invert(1); */
  background-color: black;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #289935;
  outline: none;
  border: none;
  font-size: small;
  padding: 20px 20px;
  padding: 20px 20px;
  border-radius: 50%;
  color: #fff;
}

.video-btn:disabled {
  cursor: not-allowed;
}

.incoming-video-plyr {
  width: 49vw;
  height: 57vh;
  object-fit: contain;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
}

.outgoing-video-plyr {
  width: 20vw;
  height: 28vh;
  object-fit: contain;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
}

.link-btn {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

.submit-btn:disabled {
  cursor: not-allowed;
}

.contract-btn:disabled {
  cursor: not-allowed;
}

.form-box {
  padding: 30px;
  width: calc(100%);
  height: 85%;
  gap: 40px;
  display: flex;
}

.dropzone-thumbnail {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px dashed #000;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.upload-thumbnail {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px dashed #000;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chats-holder {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.dropzone-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px dashed #000;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.upload-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px dashed #000;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
}
